@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --azul: #1976d2;
    --negro: #515151;
    --gris: #e7e7e7;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

.toggle-btn {
    position: fixed;
    margin-left: 5px;
    left: 350px;
    top: 5px;
    cursor: pointer;
    transition: all .5s;
}

.toggle-btn-icon {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    color: var(--azul);
}

.cerrar {
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
    transition: all .5s;
    display: none;
}

.cerrar-active {
    display: block;
}

.cerrar-icon {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    color: rgba(255, 0, 0, .5);
}

.navbar {
    background-color: var(--azul);
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100vh;
    overflow-y: auto;
    transition: left .5s;
}

.navbar-active {
    left: 0;
}

.navbar-tema {
    text-align: center;
}

.navbar-titulo {
    color: white;
    margin-bottom: 0;
}

.navbar-img {
    width: 250px;
}

.menu {
    margin-top: 20px;
    padding: 0;
}

.menu-item {
    list-style: none;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 25px 0px;
    font-size: 20px;
    text-transform: uppercase;
    transition: all .5s;
}

.menu-item:hover {
    background-color: rgb(21, 88, 156);
}

.nav-link {
    text-decoration: none;
    color: white;
}

.main {
    position: absolute;
    left: 350px;
    padding: 30px 50px;
    transition: left .5s;
}

.main-extendido {
    left: 0;
}

.main-section {
    padding: 20px 0px;
    border-bottom: 2px solid var(--azul);
}

.main-title {
    font-size: 30px;
    margin: 10px 0;
}

.main-section h3 {
    font-size: 22px;
    margin-top: 40px;
}

.main-section p,
.main-section ul,
.main-section ol {
    font-size: 16px;
    line-height : 25px;
    text-align: justify;
}

.contenedor-code {
    background-color: var(--gris);
    margin: 25px auto;
    padding: 20px;
    border-radius: 5px;
}

.code {
    font-family: monospace;
    font-size: 16px;
    line-height : 25px;
}

.main-img {
    display: block;
    margin: 0 auto;
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .main {
        left: 0;
        z-index: -1;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        width: 100vw;
        left: -100vh;
    }

    .navbar-active {
        left: 0;
    }
}